
<div class="forma" ><form method="post" action="~/User/InputDateAboutUser" >
    <h1>Регистрация пользователя</h1>
    <label>Фамилия</label><br/>
    <input type="text" name="Surname"></input><br />
    <label>Имя</label><br />
    <input type="text" name="Name"></input><br />
    <label>Возраст</label><br />
    <input type="number" name="Age"></input><br />
    <label>Образование</label><br />
    <input type="text" name="Education"></input><br /><br/>
        <input type="submit" name="button" asp-action="SecondTask" value="Send" size="20px"></input><br /><br /><br />
        <input type="submit" name="button2" asp-action="Serialization" value="ShowAuthorizedUsers" size="20px"></input><br /><br /><br />

</form>
</div>
<style>

   

.forma {
        height: 10em;
        position: relative ;
        margin: 0;
        position: absolute;
        top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
</style>
