@using (Html.BeginForm("MenuShows", "TicketSales", FormMethod.Post))
{
    <div class="forma">


        <input type="submit" name="button" value="Clients" size="25px"></input><br />
        <input type="submit" name="button" value="Cinema" size="25px"></input><br />
        <input type="submit" name="button" value="Currency" size="25px"></input><br />
        <input type="submit" name="button" value="Status" size="25px"></input><br />
        <input type="submit" name="button" value="Films" size="25px"></input><br />


    </div>
}